@model RecipesCore.Models.Recipe
@{
    ViewData["Title"] = @Model.Name;
}

<h1>@Model.Name</h1>

<div style="margin-bottom: 15px;">
    In category <a href="#">@Model.Category</a> by <strong>@Model.Author</strong>
</div>

<div class="row">
    <div class="col-md-9">
        @if (Model.Image != null)
        {
            <div style="margin-bottom: 15px;">
                <img src="/Image/Get?id=@Model.Id" class="img-thumbnail center-block"/>
            </div>
            
        }

        <div class="panel panel-default">
            <div class="panel-body">
                @Model.Description
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div>
                    <i class="fa fa-star"></i>
                    <strong>Rating</strong>
                </div>
                <div style="font-size: 22px;">@Math.Round(Model.Rating, 2)</div>
            </div>

            <div class="col-md-2">
                <div>
                    <i class="fa fa-cutlery"></i>
                    <strong>Servings</strong>
                </div>
                <div style="font-size: 22px;">@Model.Servings</div>
            </div>

            <div class="col-md-2">
                <div>
                    <i class="fa fa-hourglass"></i>
                    <strong>Prep Time</strong>
                </div>
                <div style="font-size: 22px;">@Model.PreparationTime</div>
            </div>

            <div class="col-md-2">
                <div>
                    <i class="fa fa-clock-o"></i>
                    <strong>Cook Time</strong>
                </div>
                <div style="font-size: 22px;">@Model.CookTime</div>
            </div>

            <div class="col-md-2">
                <div>
                    <i class="fa fa-fire"></i>
                    <strong>Calories</strong>
                </div>
                <div style="font-size: 22px;">@Model.Calories cal</div>
            </div>
        </div>
        
        <hr />

        <div class="row">
            <div class="col-md-4">
                <h3>
                    <i class="fa fa-list"></i>
                    Ingredients
                </h3>
                <div>
                    <ul>
                        @foreach (var ingredient in Model.Ingredients)
                        {
                            <li>@ingredient.Name</li>
                        }
                    </ul>
                </div>
            </div>
            

            <div class="col-md-8">
                <h3>
                    <i class="fa fa-compass"></i>
                    Directions
                </h3>
                <div>
                    <ol>
                        @foreach (var line in Model.Directions.Split('\n').Where(x => !string.IsNullOrWhiteSpace(x)))
                        {
                            <li>@line</li>
                        }
                    </ol>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-3">
        <h3>
            <i class="fa fa-lightbulb-o"></i>
            Recommended
        </h3>
    </div>
</div>