@model RecipesWeb.ViewModels.RecipesShowModel
@{
    ViewData["Title"] = @Model.Recipe.Name;
}
<div class="row">
    <div class="col-md-8">
        <h1>@Model.Recipe.Name</h1>

        <div style="margin-bottom: 15px;">
            In category <a asp-action="Category" asp-route-id="@Model.Recipe.Category.Id">@Model.Recipe.Category.Name</a>
            by <strong>@Model.Recipe.Author</strong>
        </div>

        <div style="margin-bottom: 15px;">
            <img src="/Image/Get?id=@(Model.Recipe.Id)" class="img-thumbnail center-block" style="max-height: 350px" />
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                @Model.Recipe.Description
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <div>
                    <i class="fa fa-star"></i>
                    <strong>Rating</strong>
                </div>
                <div style="font-size: 22px;">@Math.Round(Model.Recipe.Rating, 2)</div>
            </div>

            <div class="col-md-2">
                <div>
                    <i class="fa fa-cutlery"></i>
                    <strong>Servings</strong>
                </div>
                <div style="font-size: 22px;">@Model.Recipe.Servings</div>
            </div>

            <div class="col-md-2">
                <div>
                    <i class="fa fa-hourglass"></i>
                    <strong>Prep Time</strong>
                </div>
                <div style="font-size: 22px;">@Model.Recipe.PreparationTime</div>
            </div>

            <div class="col-md-2">
                <div>
                    <i class="fa fa-clock-o"></i>
                    <strong>Cook Time</strong>
                </div>
                <div style="font-size: 22px;">@Model.Recipe.CookTime</div>
            </div>

            <div class="col-md-2">
                <div>
                    <i class="fa fa-fire"></i>
                    <strong>Calories</strong>
                </div>
                <div style="font-size: 22px;">@Model.Recipe.Calories cal</div>
            </div>
        </div>

        <hr/>

        <div class="row">
            <div class="col-md-4">
                <h3>
                    <i class="fa fa-list"></i>
                    Ingredients
                </h3>
                <div>
                    <ul>
                        @foreach (var ingredient in Model.Recipe.Ingredients)
                        {
                            <li>@ingredient.Name</li>
                        }
                    </ul>
                </div>
            </div>


            <div class="col-md-8">
                <h3>
                    <i class="fa fa-compass"></i>
                    Directions
                </h3>
                <div>
                    <ol>
                        @foreach (var line in Model.Recipe.Directions.Split('\n').Where(x => !string.IsNullOrWhiteSpace(x)))
                        {
                            <li>@line</li>
                        }
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <h3>
            <i class="fa fa-lightbulb-o"></i>
            Recommendation
        </h3>
        @foreach (var recipe in Model.Recommended)
        {
            <div class="recommended-recipe">
                <div class="row">
                    <div class="col-md-5 image">
                        <img src="/Image/Thumbnail?id=@(recipe.Id)" class="img-responsive img-rounded center-block" style="max-height: 150px;"/>
                    </div>
                    <div class="col-md-7 text">
                        <h4>
                            <a asp-controller="Recipes" asp-action="Show" asp-route-id="@recipe.Id">@recipe.Name</a>
                        </h4>
                        <div style="font-variant: small-caps; color: gray;">
                            @recipe.Category.Name
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>